[client]
default-character-set=utf8mb4

[mysqld]
server_id=1
basedir=/usr/mysql/mysql-5.7.22-linux-glibc2.12-x86_64
datadir=/usr/mysql/mysql-5.7.22-linux-glibc2.12-x86_64/data
socket=/tmp/mysql.sock
user=mysql
## Disabling symbolic-links is recommended to prevent assorted security risks
## symbolic-links=0
port=3306
max_connections=1500
#default_authentication_plugin=mysql_native_password

slow_query_log=ON
long_query_time=2
lower_case_table_names=1

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

[mysqld_safe]
log-error=/usr/mysql/mysql-5.7.22-linux-glibc2.12-x86_64/logs/mysqld.log
#pid-file=/home/mysql/pid/mysqld.pid

[mysql]
default-character-set=utf8mb4
